.inputOption{
  margin-top: 16px;
  display: flex;
  align-items: center;
  cursor: pointer;
  border-radius: 5px;
  padding: 5px;
  color: grey;
}

.inputOption:hover{
  background-color: whitesmoke;
  color:#000;
}

.inputOption > h4{
  font-size: 13px;
}

